.x-alert {
  --x-bgColor: inherit;
  display: flex;
  justify-content: space-between;
  background-color: var(--x-bgColor);
}

@each $val in primary, info, success, warning, danger {
  .x-bgColor--$(val) {
    --x-bgColor: var(--x-color-$(val));
  }
}
